/*반응형*/
@media(max-width: 1200px){
    #nav{
        width:100%;
    }
    #sub-nav{
        width:100%;
    }
    #board-list-form{
        width:100%;
    }
    #admin-side-nav{
        width: 100%;
    }
    #footer{
        width:100%;
    }
}
/*링크 : 밑줄 없음, 클릭해도 색상 변경 없음.*/
a {
    text-decoration: none;
    color: #333;
}
/*메인 네비게이션*/
#nav{
    width: 100%;
    text-align: center;
    position: relative;
    height: 100px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 15px;
}
.nav-logo{
    position: absolute;
    top: 0;
    padding-left: 20px;
    float:left;
    width: 20%;
}
.nav-menu{
    float:right;
    width: 60%;
    height: 60px;
}
.nav-box{
    width:25%;
    float:right;
}
.nav-box-default{
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 10px;
}
.nav-box div{
    display: inline-block;
}
.headerProfile {
    float:left;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nickname{
    float:right;
    width: auto;
    height: 40px;
    margin: 5px;
    color: #333;
}
/*서브 네이게이션*/
#sub-nav{
    width: 100%;
    position: relative;
    text-align: center;
}
.sub-nav-box{
    float: left;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.sub-nav-box-default{
    margin-top: 5px;
    margin-bottom: 5px;
}
.sub-nav-box div{
    display: inline-block;
}
/*사이드 네이게이션*/
#side-nav{
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
}
.side-nav-box{
    margin-top: 20px;
    margin-bottom: 20px;
    /*border: 1px solid grey;*/
    /*border-radius: 5px;*/
}
.side-nav-box-default{
    width: 100px;
    height: 100px;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
}
.side-nav-box div{
    display: inline-block;
}
/*main화면*/
.router-view{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}
.content-view{
    width: 100%;
    margin: auto;
    height: auto;
}
/*footer*/
#footer {
    border-top: 1px solid #D8D8D8;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    margin: 100px 0 0 0;
}