/*반응형*/
@media (max-width: 1200px) {
    #main-form {
        width: 100%;
    }

    #todayWeather {
        width: 100%;
    }

    #todayWear {
        width: 100%;
    }

    #weeklyWeather {
        width: 100%;
    }
}

/*layout*/
.todayWeather {
    float: left;
    color: #333333;
    width: 29.9%;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 10px 20px 20px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    position: relative;
    text-align: center;
}

.todayWear {
    float: right;
    color: #333333;
    width: 65%;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 20px 20px 10px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    position: relative;
    text-align: center;
}

.weeklyWeather {
    float: left;
    color: #333333;
    width: 96.7%;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

/*날씨 뷰*/
.todayWeather div {
    display: inline-block;
}

.card-round {
    background-color: #c6d8de;
    border-radius: 70%;
}

.card-icon {
    width: 100%;
    margin: auto;
}

.weatherIcon {
    /*width: 100%;*/
    /*height: 100%;*/
    width: 140px;
    height: 140px;
}

.card-weather {
    text-align: center;
}

.card-weather-box {
    width: 100%;
    height: 20%;
    padding: 0;
}

/*의상 뷰*/
.card-title {
    width: 100%;
}

.card-header {
    width: 100%;
}

.card-wear {
    float: left;
    width: 25%;
}

.wear-img {
    display: flex;
    width: 100%;
    height: 100%;
}

/*주간 날씨 정렬*/
.card-week {
    width: 100%;
    position: relative;
    text-align: center;
    margin-left: 12px;
}

.card-day {
    float: left;
    width: 14%;
    position: relative;
    text-align: center;
}

.card-day-icon {
    background-color: #c6d8de;
    border-radius: 70%;
}

.card-day-box {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}

.card-day-box div {
    display: inline-block;
}

.card-day-box-left {
    float: left;
    width: 50%;
    text-align: right;
    color: red;
    padding-right: 5px;
}

.card-day-box-right {
    float: right;
    width: 50%;
    text-align: left;
    color: blue;
    padding-left: 5px;
}

/*카드 정보 정렬*/
.card-weather-box {
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.card-weather-box div {
    display: inline-block;
}

.card-weather1 {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.card-weather1 div {
    display: inline-block;
}

.card-weather2 {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
}

.card-weather2-left {
    float: left;
    width: 50%;
    text-align: right;
    color: red;
    padding-right: 10px;
}

.card-weather2-right {
    float: right;
    width: 50%;
    text-align: left;
    color: blue;
    padding-left: 10px;
}

.card-weather2 div {
    display: inline-block;
}

.card-weather3 {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
}

.card-location {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 14px;
}

.card-weather3 div {
    display: inline-block;
}

/*admin - mainPage*/
.side-nav {
    float: left;
    width: 20%;
    height: 100%;
    margin: auto;
}

.side-content-view {
    float: right;
    width: 80%;
    height: 100%;
}

tr {
    border-bottom: none;
}