/*반응형*/
@media (max-width: 1200px) {
    #signup {
        width: 100%;
    }
}

.card-select {
    color: #333333;
    width: 100%;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    position: relative;
    text-align: center;
}

.card-select div {
    display: inline-block;
}

.card-select1 {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.card-select2 {
    width: 100%;
    position: relative;
    text-align: center;
}

.card-select-box {
    float: left;
    width: 15%;
    margin-left: 9px;
    margin-right: 9px;
}

.card-select-box-default {
    width: 98%;
}

.card-select-img {
    width: 100%;
    height: 100%;
}