@media(max-width: 1200px){
    #welcome{
        width: 100%;
    }
}
/*layout*/
.welcome{
    height: 100%;
    background-color: #FFFFFF;
}

.welcome-service-img{
    margin-top: 100px;
    margin-bottom: 100px;
}
.welcome-btn{
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 150px;
}
.welcome-btn-login{
    color: #775DD0;
}
.welcome-btn-signup{
    color: #00D8B6;
}
.welcome-btn-left{
    float: left;
    width: 45%;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
}
.welcome-btn-right{
    float: right;
    width: 45%;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}